#scroller {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #001122;
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.section {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    
    padding: 36px;
    box-sizing: border-box;
}

.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}