#scroller {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #001122;
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.section {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    
    padding: 36px;
    box-sizing: border-box;
}

.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

p {
    font-family: Roboto, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gemunu Libre', sans-serif;
}

button {
    padding: 10px 16px;
    border: 2px solid #0088FF;
    font-family: Roboto, Arial, sans-serif;
    color: #0088FF;
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.21s, color 0.21s;
}

button:hover {
    background-color: #0088FF;
    color: white;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    text-align: center;
    padding: 10px;
}

#navbar a {
    color: white;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Gemunu Libre', sans-serif;
}